.docker/*                                               filter=git-crypt diff=git-crypt
"Library/Application Support/obs-studio/*"              filter=git-crypt diff=git-crypt
"Library/Application Support/Code/User/settings.json"   filter=git-crypt diff=git-crypt 
.weechat/*                                              filter=git-crypt diff=git-crypt
