.chef/*                                                 filter=git-crypt diff=git-crypt
.shellrc/site.d/nord_chef.active                        filter=git-crypt diff=git-crypt
.shellrc/site.d/dd_api.active                           filter=git-crypt diff=git-crypt
.shellrc/zfunc.d/nordenv                                filter=git-crypt diff=git-crypt
"Library/Application Support/obs-studio/*"              filter=git-crypt diff=git-crypt
"Library/Application Support/Code/User/settings.json"   filter=git-crypt diff=git-crypt 
"Library/Application Support/keepassx/keepassx2.ini"    filter=git-crypt diff=git-crypt
